.product-display{
  display: flex;
  margin: 60px  170px;
  gap:40px;
  justify-content: center;
}
.img-list{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.img-list img{
  height: 160px;
  width: 160px;
}
.display-left{
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-img img{
height: 500px;
width: 500px;
}
.display-right{
  display: flex;
  flex-direction: column;
}
.display-right h1{
  color:#3d3d3d;
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
}
.star-display{
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap:5px;
  color:#1c1c1c;
  font-size: 18px;
}
.product-prices{ 
  display: flex;
  margin: 40px 0px;
  gap:30px;
  font-size: 24px;
  font-weight: 600;
}
.old-price{
  text-decoration: line-through;
  color: #818181;
}
.new-price{
  color:#2993f0;
}
.display-right button{
  padding: 20px 40px;
  width: 250px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background: #3797eb;
  margin-top: 50px;
  border: none;
  outline: none;
  cursor: pointer;

}