.new-collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 110px;
}
.new-collection h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.new-collection hr {
  width: 210px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 30px;
}
@media (max-width:1280px) {
  .new-collection{
    height: 70vh;
  }
  .new-collection h1{
    font-size: 40px;
  }
  .collection{
    gap: 20px;
    margin-top: 30px;
  }
}
@media (max-width:1024px) {
  .new-collection{
    height: 60vh;
  }
  .new-collection h1{
    font-size: 30px;
  }
  .collection{
    gap: 15px;
    margin-top: 20px;
  }
}
@media (max-width:800px) {
  .new-collection{
    height: 50vh;
    gap: 6px;
  }
  .new-collection h1{
    font-size: 20px;
  }
  .collection{
    gap: 5px;
  }
}
@media (max-width:500px) {
  .new-collection {
    height: 90vh;
  }
  .collection{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
}